/* ::::: https://github.global.ssl.fastly.net/assets/github-3944f96c1c19f752fe766b332fb7716555c8296e.css ::::: */

.container { width: 980px; margin-left: auto; margin-right: auto; -moz-box-sizing: border-box; }
.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
b, strong { font-weight: bold; }
code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="checkbox"], input[type="radio"] { padding: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0px; }
h1, h2, h3, h4, h5, h6 { margin-top: 15px; margin-bottom: 15px; line-height: 1.1; }
h1 { font-size: 30px; }
h2 { font-size: 21px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
blockquote { margin: 0px; }
ul, ol { padding: 0px; margin-top: 0px; margin-bottom: 0px; }
tt, code, pre { font-family: Consolas,"Liberation Mono",Courier,monospace; font-size: 12px; }
pre { margin-top: 0px; margin-bottom: 0px; }
label, input[type="text"], #adv_code_search .search-page-label, input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea { font-size: 13px; }
input[type="text"], #adv_code_search .search-page-label, input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea { min-height: 34px; padding: 7px 8px; outline: medium none; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-position: right center; border: 1px solid rgb(204, 204, 204); border-radius: 3px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset; -moz-box-sizing: border-box; vertical-align: middle; }
input.focus[type="text"], #adv_code_search .focus.search-page-label, input[type="text"]:focus, .focused .drag-and-drop, #adv_code_search .search-page-label:focus, input.focus[type="password"], input[type="password"]:focus, input.focus[type="email"], input[type="email"]:focus, input.focus[type="number"], input[type="number"]:focus, input.focus[type="tel"], input[type="tel"]:focus, input.focus[type="url"], input[type="url"]:focus, textarea.focus, textarea:focus { border-color: rgb(81, 167, 232); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba(81, 167, 232, 0.5); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
table.capped-list tr:nth-child(2n) { background-color: rgb(252, 252, 252); }
.traffic-graph .x.axis .tick:nth-child(14) line { stroke: rgb(29, 127, 179); stroke-width: 2px; }
.markdown-body { font-size: 15px; line-height: 1.7; overflow: hidden; word-wrap: break-word; }
.markdown-body > :first-child { margin-top: 0px ! important; }
.markdown-body > :last-child { margin-bottom: 0px ! important; }
.markdown-body a.anchor { display: block; padding-right: 6px; padding-left: 30px; margin-left: -30px; cursor: pointer; position: absolute; top: 0px; left: 0px; bottom: 0px; }
.markdown-body a.anchor:focus { outline: medium none; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { margin: 1em 0px 15px; padding: 0px; font-weight: bold; line-height: 1.7; cursor: text; position: relative; }
.markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link { display: none; color: rgb(0, 0, 0); }
.markdown-body h1:hover a.anchor, .markdown-body h2:hover a.anchor, .markdown-body h3:hover a.anchor, .markdown-body h4:hover a.anchor, .markdown-body h5:hover a.anchor, .markdown-body h6:hover a.anchor { text-decoration: none; line-height: 1; padding-left: 8px; margin-left: -30px; top: 15%; }
.markdown-body h1:hover a.anchor .octicon-link, .markdown-body h2:hover a.anchor .octicon-link, .markdown-body h3:hover a.anchor .octicon-link, .markdown-body h4:hover a.anchor .octicon-link, .markdown-body h5:hover a.anchor .octicon-link, .markdown-body h6:hover a.anchor .octicon-link { display: inline-block; }
.markdown-body h1 tt, .markdown-body h1 code, .markdown-body h2 tt, .markdown-body h2 code, .markdown-body h3 tt, .markdown-body h3 code, .markdown-body h4 tt, .markdown-body h4 code, .markdown-body h5 tt, .markdown-body h5 code, .markdown-body h6 tt, .markdown-body h6 code { font-size: inherit; }
.markdown-body h1 { font-size: 2.5em; border-bottom: 1px solid rgb(221, 221, 221); }
.markdown-body h2 { font-size: 2em; border-bottom: 1px solid rgb(238, 238, 238); }
.markdown-body h3 { font-size: 1.5em; }
.markdown-body h4 { font-size: 1.2em; }
.markdown-body h5 { font-size: 1em; }
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre { margin: 15px 0px; }
.markdown-body blockquote { border-left: 4px solid rgb(221, 221, 221); padding: 0px 15px; color: rgb(119, 119, 119); }
.markdown-body blockquote > :first-child { margin-top: 0px; }
.markdown-body blockquote > :last-child { margin-bottom: 0px; }
.markdown-body table tr:nth-child(2n) { background-color: rgb(248, 248, 248); }
.markdown-body img { max-width: 100%; -moz-box-sizing: border-box; }
.markdown-body code, .markdown-body tt { margin: 0px 2px; padding: 0px 5px; border: 1px solid rgb(221, 221, 221); background-color: rgb(248, 248, 248); border-radius: 3px; }
.markdown-body code { white-space: nowrap; }
.markdown-body pre > code { margin: 0px; padding: 0px; white-space: pre; border: medium none; background: none repeat scroll 0% 0% transparent; }
.markdown-body .highlight pre, .markdown-body pre { background-color: rgb(248, 248, 248); border: 1px solid rgb(221, 221, 221); font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
.markdown-body pre { word-wrap: normal; }
.markdown-body pre code, .markdown-body pre tt { margin: 0px; padding: 0px; background-color: transparent; border: medium none; word-wrap: normal; }
.highlight { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: rgb(153, 153, 136); font-style: italic; }
.highlight .c1 { color: rgb(153, 153, 136); font-style: italic; }
.highlight .kd { font-weight: bold; }
.highlight .mi { color: rgb(0, 153, 153); }
.highlight .s1 { color: rgb(221, 17, 68); }
.button, .minibutton { position: relative; display: inline-block; padding: 7px 12px; font-size: 13px; font-weight: bold; color: rgb(51, 51, 51); text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9); white-space: nowrap; background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238)); background-repeat: repeat-x; border-radius: 3px; border: 1px solid rgb(213, 213, 213); vertical-align: middle; cursor: pointer; -moz-user-select: none; }
.button:focus, .minibutton:focus { outline: medium none; text-decoration: none; border-color: rgb(81, 167, 232); box-shadow: 0px 0px 5px rgba(81, 167, 232, 0.5); }
.button:hover, .button:active, .button.zeroclipboard-is-hover, .button.zeroclipboard-is-active, .minibutton:hover, .minibutton:active, .minibutton.zeroclipboard-is-hover, .minibutton.zeroclipboard-is-active { text-decoration: none; background-color: rgb(221, 221, 221); background-image: linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221)); background-repeat: repeat-x; border-color: rgb(204, 204, 204); }
.button:active, .button.selected, .button.selected:hover, .button.zeroclipboard-is-active, .minibutton:active, .minibutton.selected, .minibutton.selected:hover, .minibutton.zeroclipboard-is-active { background-color: rgb(220, 220, 220); background-image: none; border-color: rgb(181, 181, 181); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset; }
.button:disabled, .button:disabled:hover, .button.disabled, .button.disabled:hover, .minibutton:disabled, .minibutton:disabled:hover, .minibutton.disabled, .minibutton.disabled:hover { opacity: 0.5; color: rgb(102, 102, 102); text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9); background-image: none; background-color: rgb(229, 229, 229); border-color: rgb(197, 197, 197); cursor: default; box-shadow: none; }
.button.primary, .minibutton.primary { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: rgb(96, 176, 68); background-image: linear-gradient(rgb(138, 221, 109), rgb(96, 176, 68)); background-repeat: repeat-x; border-color: rgb(92, 169, 65); }
.button.primary:hover, .minibutton.primary:hover { color: rgb(255, 255, 255); background-color: rgb(86, 158, 61); background-image: linear-gradient(rgb(121, 216, 88), rgb(86, 158, 61)); background-repeat: repeat-x; border-color: rgb(74, 153, 62); }
.button.primary:active, .button.primary.selected, .minibutton.primary:active, .minibutton.primary.selected { background-color: rgb(86, 158, 61); background-image: none; border-color: rgb(65, 135, 55); }
.button.primary:disabled, .button.primary:disabled:hover, .button.primary.disabled, .button.primary.disabled:hover, .minibutton.primary:disabled, .minibutton.primary:disabled:hover, .minibutton.primary.disabled, .minibutton.primary.disabled:hover { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: rgb(96, 176, 68); background-image: linear-gradient(rgb(138, 221, 109), rgb(96, 176, 68)); background-repeat: repeat-x; border-color: rgb(116, 187, 90) rgb(116, 187, 90) rgb(80, 147, 56); }
.button.with-count, .minibutton.with-count { border-top-right-radius: 0px; border-bottom-right-radius: 0px; float: left; }
.minibutton { padding: 0px 10px; line-height: 24px; box-shadow: none; }
.minibutton:hover .octicon-device-desktop:before { background-position: -18px 0px; }
.minibutton i { font-weight: 500; font-style: normal; opacity: 0.6; }
input[type="text"] + .minibutton { margin-left: 5px; }
.minibutton .octicon { vertical-align: middle; margin-top: -1px; margin-right: 6px; transition: none 0s ease 0s ; }
.minibutton.zeroclipboard-button .octicon { margin-right: 0px; }
.social-count { padding: 0px 7px; font-size: 11px; font-weight: bold; float: left; background-color: rgb(255, 255, 255); line-height: 24px; color: rgb(51, 51, 51); vertical-align: middle; border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.social-count:hover { color: rgb(65, 131, 196); cursor: pointer; text-decoration: none; }
.css-truncate.css-truncate-target, .css-truncate .css-truncate-target { max-width: 125px; display: inline-block; overflow: hidden; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; }
.flash, .flash-global { position: relative; border: 1px solid rgb(151, 193, 218); color: rgb(38, 76, 114); background-color: rgb(208, 227, 239); background-image: linear-gradient(rgb(216, 235, 248), rgb(208, 227, 239)); background-repeat: repeat-x; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); }
.flash.flash-error, .flash-global.flash-error { color: rgb(153, 17, 17); background-color: rgb(239, 208, 208); background-image: linear-gradient(rgb(248, 216, 216), rgb(239, 208, 208)); background-repeat: repeat-x; border-color: rgb(218, 151, 151); }
.flash:hover, .flash-global:hover { border-color: rgb(95, 159, 198); }
.flash.flash-error:hover, .flash-global.flash-error:hover { border-color: rgb(198, 95, 95); }
.flash { padding: 15px; border-radius: 3px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); }
.flash .close { float: right; cursor: pointer; opacity: 0.6; text-decoration: none; margin-top: 1px; }
.flash:hover .close { opacity: 1; }
@font-face {
	font-family: "octicons";
	font-style: normal;
	font-weight: normal;
	src: url('octicons-faeba2032b29fb04b76cf0eee9c003090543877b.eot') format("embedded-opentype"), url('octicons-bccfe7abf7461ed10568dd044425080f7de09889.woff') format("woff"), url('octicons-bc546222d5d8d5bd13670f8f5b48956e6c4429ca.ttf') format("truetype"), url('octicons-f20f5903dfa7da76b6a7a8f0eaad98f51da2029d.svg') format("svg");
}
.octicon { font: 16px/1 octicons; display: inline-block; text-decoration: none; }
.mega-octicon { font: 32px/1 octicons; display: inline-block; text-decoration: none; }
.octicon-alert:before { content: ""; }
.octicon-book:before { content: ""; }
.octicon-check:before { content: ""; }
.octicon-clippy:before { content: ""; }
.octicon-cloud-download:before { content: ""; }
.octicon-code:before { content: ""; }
.octicon-color-mode:before { content: ""; }
.octicon-device-desktop:before { content: ""; }
.octicon-eye-unwatch:before { content: ""; }
.octicon-eye-watch:before { content: ""; }
.octicon-file-add:before { content: ""; }
.octicon-file-directory:before { content: ""; }
.octicon-file-text:before { content: ""; }
.octicon-git-branch:before { content: ""; }
.octicon-git-branch-create:before { content: ""; }
.octicon-git-compare:before { content: ""; }
.octicon-git-pull-request:before { content: ""; }
.octicon-graph:before { content: ""; }
.octicon-history:before { content: ""; }
.octicon-issue-opened:before { content: ""; }
.octicon-link:before { content: ""; }
.octicon-log-out:before { content: ""; }
.octicon-mark-github:before { content: ""; }
.octicon-mute:before { content: ""; }
.octicon-organization:before { content: ""; }
.octicon-pulse:before { content: ""; }
.octicon-question:before { content: ""; }
.octicon-remove-close:before { content: ""; }
.octicon-repo:before { content: ""; }
.octicon-repo-create:before { content: ""; }
.octicon-screen-normal:before { content: ""; }
.octicon-star:before { content: ""; }
.octicon-star-delete:before { content: ""; }
.octicon-tag:before { content: ""; }
.octicon-tools:before { content: ""; }
.suggester-container { position: absolute; top: 58px; left: 10px; z-index: 1; }
.suggester { position: relative; top: 0px; left: 0px; display: none; margin-top: 20px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 3px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); min-width: 180px; }
body, input, select, textarea, button { font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif; }
body { min-width: 1020px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
*::-moz-selection { text-shadow: none; background: none repeat scroll 0% 0% rgba(65, 131, 196, 0.4); }
a { color: rgb(65, 131, 196); text-decoration: none; }
a:hover { text-decoration: underline; }
a:focus, a:active { text-decoration: underline; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.right { float: right; }
.hidden { display: none; }
.breadcrumb { margin: 5px 0px; font-size: 18px; color: rgb(153, 153, 153); }
.breadcrumb .repo-root { font-weight: bold; }
.new-file-link { display: inline-block; cursor: pointer; }
.new-file-link span { color: rgb(65, 131, 196); }
.starring-container .unstarred, .starring-container.on .starred { display: inline-block; }
.starring-container.on .unstarred, .starring-container .starred { display: none; }
@media only screen and (max-width: 1155px) {
}
.commit .commit-title, .commit .commit-title a { color: rgb(78, 87, 91); }
.commit .sha-block, .commit .sha { font-size: 11px; font-family: Monaco,"Liberation Mono",Courier,monospace; }
.commit-tease { padding: 8px 8px 0px; background: none repeat scroll 0% 0% rgb(230, 241, 246); border-width: 1px; border-style: solid; border-color: rgb(183, 199, 207) rgb(183, 199, 207) rgb(216, 230, 236); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-top-right-radius: 2px; border-top-left-radius: 2px; }
.commit-tease p.commit-title { margin: 0px 0px 6px; }
.commit-tease .commit-meta { margin-left: -8px; margin-right: -8px; padding: 8px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 1px solid rgb(216, 230, 236); -moz-box-sizing: border-box; }
.commit-tease .zeroclipboard-link { float: right; margin-left: 5px; margin-top: -2px; }
.commit-tease .sha-block { float: right; color: rgb(136, 136, 136); }
.commit-tease .sha-block > .sha { color: rgb(68, 68, 68); }
.commit-tease .authorship { margin: -2px 0px -4px -4px; font-size: 12px; color: rgb(153, 153, 153); }
.commit-tease .authorship a { color: rgb(68, 68, 68); text-decoration: none; font-weight: bold; }
.commit-tease .authorship a:hover { text-decoration: underline; }
.commit-tease .authorship .gravatar { margin: -2px 3px 0px 0px; vertical-align: middle; border-radius: 3px; }
.commit-tease .authorship .author-name { color: rgb(68, 68, 68); }
.commit-group-item:nth-child(2n+1) { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.commit-group-item:nth-child(2n+1) .gobutton { border-color: rgb(213, 220, 223); background-color: rgb(227, 234, 237); background-image: linear-gradient(rgb(242, 245, 246), rgb(227, 234, 237)); background-repeat: repeat-x; }
.commits-condensed tr:nth-child(2n) td { background: none repeat scroll 0% 0% rgb(247, 251, 252); }
.page-context-loader { margin-left: 10px; display: none; }
.capped-box { -moz-box-sizing: border-box; margin-bottom: 20px; background-color: rgb(255, 255, 255); border-radius: 3px; border: 1px solid rgb(221, 221, 221); }
.explore-section:nth-child(2n) { background: none repeat scroll 0% 0% rgb(249, 249, 249); }
.explore-section:nth-child(2n) .repo-collection > ul { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.explore-section:nth-child(2n+1):last-child { border-bottom: 0px none; padding-bottom: 0px; }
.facebox { position: absolute; top: 0px; left: 0px; z-index: 100; padding-bottom: 40px; }
.facebox-popup { position: relative; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.25); border-radius: 5px; box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4); background-clip: padding-box; }
.facebox-content { width: 455px; padding: 15px; -moz-box-sizing: border-box; }
.facebox-content:before, .facebox-content:after { content: " "; display: table; }
.facebox-content:after { clear: both; }
.facebox-close { position: absolute; top: 8px; right: 5px; padding: 10px; background-color: transparent; border: 0px none; opacity: 0.25; cursor: pointer; }
.facebox-close:hover { opacity: 1; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.site-footer { position: relative; margin-top: 40px; padding-top: 40px; padding-bottom: 40px; font-size: 12px; line-height: 1.5; color: rgb(119, 119, 119); border-top: 1px solid rgb(238, 238, 238); }
.site-footer:before, .site-footer:after { content: " "; display: table; }
.site-footer:after { clear: both; }
.site-footer .octicon-mark-github { position: absolute; top: 38px; left: 50%; height: 24px; width: 24px; margin-left: -12px; font-size: 24px; color: rgb(204, 204, 204); }
.site-footer .octicon-mark-github:hover { color: rgb(187, 187, 187); }
.site-footer-links { float: left; margin: 0px; list-style: none outside none; }
.site-footer-links.right { float: right; }
.site-footer-links li { display: inline-block; line-height: 16px; }
.site-footer-links li + li { margin-left: 10px; }
.header { text-shadow: 0px 1px 0px rgb(255, 255, 255); border-bottom: 1px solid rgb(229, 229, 229); min-width: 1000px; }
.header-logged-in { background-color: rgb(243, 243, 243); background-image: linear-gradient(rgb(249, 249, 249), rgb(243, 243, 243)); background-repeat: repeat-x; }
.header-logo-invertocat { float: left; padding: 8px 10px 6px; margin-left: -10px; margin-right: 5px; color: rgb(51, 51, 51); transition: all 0.1s ease-in 0s; white-space: nowrap; }
.header-logo-invertocat .octicon-mark-github { float: left; width: 24px; height: 25px; font-size: 25px; }
.header-logo-invertocat:hover { color: rgb(65, 131, 196); text-decoration: none; }
.notification-indicator { float: left; width: 42px; height: 100%; margin-right: 15px; text-align: center; line-height: 40px; padding-left: 1px; border-left: 1px solid rgb(229, 229, 229); border-right: 1px solid rgb(229, 229, 229); box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.15) inset, 1px 0px 0px rgba(255, 255, 255, 0.15); -moz-box-sizing: border-box; }
.notification-indicator .mail-status { display: inline-block; width: 8px; height: 8px; border-radius: 100px; background-color: rgb(204, 204, 204); background-image: linear-gradient(rgb(170, 170, 170), rgb(204, 204, 204)); background-repeat: repeat-x; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 0px rgb(255, 255, 255); }
.notification-indicator:hover .mail-status { background-color: rgb(187, 187, 187); background-image: linear-gradient(rgb(153, 153, 153), rgb(187, 187, 187)); background-repeat: repeat-x; }
.notification-indicator .unread { background-color: rgb(50, 105, 160); background-image: linear-gradient(rgb(65, 131, 196), rgb(50, 105, 160)); background-repeat: repeat-x; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px rgb(65, 131, 196); }
.notification-indicator:hover .unread { background-color: rgb(44, 93, 141); background-image: linear-gradient(rgb(56, 118, 180), rgb(44, 93, 141)); background-repeat: repeat-x; }
.top-nav { float: left; list-style: none outside none; }
.top-nav > li { float: left; }
.top-nav > li + li { margin-left: 5px; }
.top-nav > li > a { display: block; padding: 5px; font-size: 13px; font-weight: bold; color: rgb(51, 51, 51); transition: all 0.1s ease-in 0s; }
.top-nav > li > a:hover { color: rgb(65, 131, 196); text-decoration: none; }
.dropdown-menu { position: absolute; top: 100%; left: 50%; z-index: 100; float: left; width: 180px; list-style: none outside none; margin: 2px 0px 0px -90px; padding-top: 7px; padding-bottom: 7px; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 5px; box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15); }
.dropdown-menu:before { content: ""; display: inline-block; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid rgba(0, 0, 0, 0.15); position: absolute; top: -8px; left: 82px; }
.dropdown-menu:after { content: ""; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid rgb(255, 255, 255); position: absolute; top: -7px; left: 83px; }
.dropdown-menu > li.section-title { padding-left: 10px; padding-top: 10px; padding-bottom: 5px; font-weight: bold; font-size: 12px; }
.dropdown-menu > li > a { display: block; padding: 4px 10px 4px 38px; color: rgb(51, 51, 51); }
.dropdown-menu > li > a:hover { color: rgb(255, 255, 255); text-decoration: none; text-shadow: none; background-color: rgb(65, 131, 196); }
.dropdown-menu > li > a > .octicon { float: left; margin-top: 1px; margin-left: -23px; color: rgb(85, 85, 85); }
.dropdown-menu > li > a:hover > .octicon { color: rgb(255, 255, 255); }
#user-links { float: right; margin: 7px 0px 0px; padding: 0px; list-style: none outside none; }
#user-links > li { position: relative; float: left; margin-left: 5px; }
#user-links > li > a { display: block; padding: 5px; font-size: 13px; color: rgb(51, 51, 51); transition: all 0.1s ease-in 0s; }
#user-links > li > a:hover { color: rgb(65, 131, 196); text-decoration: none; }
#user-links .name { font-weight: bold; line-height: 16px; white-space: nowrap; }
#user-links .name img { float: left; margin: -2px 5px 0px 0px; border-radius: 3px; box-shadow: 0px 1px 0px rgb(255, 255, 255); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.repository-lang-stats { position: relative; }
.repository-lang-stats ol.repository-lang-stats-numbers li { display: table-cell; width: 1%; border-bottom: medium none; text-align: center; padding: 11px 5px; white-space: nowrap; }
.repository-lang-stats ol.repository-lang-stats-numbers li span.percent { float: none; }
.repository-lang-stats ol.repository-lang-stats-numbers li > a, .repository-lang-stats ol.repository-lang-stats-numbers li > span { color: rgb(153, 153, 153); text-decoration: none; font-weight: bold; }
.repository-lang-stats ol.repository-lang-stats-numbers li .lang { color: rgb(51, 51, 51); }
.repository-lang-stats ol.repository-lang-stats-numbers li .language-color { display: inline-block; width: 10px; height: 10px; border-radius: 50%; }
.repository-lang-stats ol.repository-lang-stats-numbers li a:hover { background: none repeat scroll 0% 0% transparent; }
.stats-switcher-viewport { overflow: hidden; height: 38px; }
.stats-switcher-viewport .numbers-summary { transition: margin 0.25s ease-in-out 0s; }
.repository-lang-stats-graph { display: block; width: 100%; height: auto; line-height: 12px; white-space: nowrap; overflow: hidden; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.repository-lang-stats-graph span { display: inline-block; height: 8px; background: none repeat scroll 0% 0% rgb(204, 204, 204); text-indent: -9999px; }
.repository-lang-stats-graph .language-color { height: auto; line-height: 12px; vertical-align: top; }
.repository-lang-stats-graph .language-color:first-child { border-bottom-left-radius: 3px; }
.repository-lang-stats-graph .language-color:last-child { border-bottom-right-radius: 3px; }
.language-color { background-color: rgb(204, 204, 204); }
/* ::::: https://github.global.ssl.fastly.net/assets/github2-5a80bdfa39bad96522873dfd72fa56c72e6675b3.css ::::: */

#ajax-error-message { display: none; position: fixed; top: -200px; left: 50%; width: 914px; z-index: 9999; margin: 0px 3px 0px -457px; -moz-box-sizing: border-box; transition: top 0.5s ease-in 0s; }
#ajax-error-message > .octicon-alert { vertical-align: text-top; }
.capped-card:nth-child(2n+1) { margin-left: 0px; }
.capped-card:nth-child(2n) { margin-right: 0px; }
.command-bar { position: relative; float: left; margin-top: 6px; margin-bottom: 6px; }
.command-bar .command-bar-form { position: relative; z-index: 95; width: 220px; transition: width 0.2s ease-in-out 0s; }
.command-bar input[type="text"] { position: relative; -moz-box-sizing: border-box; width: 100%; min-height: 28px; padding: 4px 20px 4px 8px; font-size: 12px; }
.command-bar:not(.command-bar-focus) input[type="text"] { border-color: rgb(221, 221, 221); background: none repeat scroll 0% 0% rgb(252, 252, 252); box-shadow: 1px 1px 0px rgb(255, 255, 255); }
.command-bar .help { position: absolute; top: 0px; bottom: 0px; right: 10px; width: 12px; height: auto; line-height: 24px; z-index: 96; color: rgb(153, 153, 153); }
.command-bar .octicon-question { font-size: 12px; cursor: pointer; }
.command-bar.in-repository .command-bar-form { width: 340px; }
.command-bar.in-repository input[type="text"] { padding-left: 123px; }
.command-bar.in-repository .search-context-select-menu { text-shadow: none; }
.command-bar.in-repository .search-context-select-menu .select-menu-button { position: absolute; top: 1px; left: 1px; margin: 0px; width: 118px; height: 26px; padding-right: 7px; line-height: 26px; font-size: 11px; border-width: medium 1px medium medium; border-style: none solid none none; border-color: -moz-use-text-color rgb(221, 221, 221) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 2px 0px 0px 2px; background-color: rgb(244, 244, 244); background-image: linear-gradient(rgb(248, 248, 248), rgb(244, 244, 244)); background-repeat: repeat-x; -moz-box-sizing: border-box; box-shadow: none; }
.command-bar.in-repository .search-context-select-menu .select-menu-button:hover, .command-bar.in-repository .search-context-select-menu .select-menu-button.selected { background-color: rgb(228, 228, 228); background-image: linear-gradient(rgb(232, 232, 232), rgb(228, 228, 228)); background-repeat: repeat-x; }
.command-bar.in-repository .search-context-select-menu .select-menu-button:before { top: 11px; border-color: rgb(153, 153, 153) transparent transparent; }
.command-bar.in-repository .search-context-select-menu .select-menu-modal { width: 150px; }
.header-logged-in .command-bar .top-nav { position: absolute; top: 0px; left: 230px; width: 211px; transition: opacity 0.2s linear 0s; opacity: 1; z-index: 1; }
.header-logged-in .in-repository .top-nav { left: 350px; }
.features-next .features-section:nth-child(2n) { background-color: rgb(245, 245, 245); }
#fork-select .target:not(.disabled) { cursor: pointer; font-weight: bold; }
#fork-select .target:not(.disabled) img { opacity: 1; }
#fork-select .target:hover:not(.disabled) { background-color: rgb(221, 233, 244); color: rgb(65, 131, 196); border-color: rgb(65, 131, 196); }
#fork-select .target:active:not(.disabled) { color: rgb(38, 80, 121); background-color: rgb(143, 182, 220); }
.fullscreen-overlay { display: none; position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-shadow: none; z-index: 1000; }
.fullscreen-overlay .fullscreen-container { -moz-box-sizing: border-box; max-width: 800px; height: 100%; margin: 0px auto; padding: 30px 0px; }
.fullscreen-overlay .textarea-wrap { -moz-box-sizing: border-box; width: 100%; height: 100%; position: relative; }
.fullscreen-overlay textarea { -moz-box-sizing: border-box; width: 100%; height: 100%; padding: 20px; border: 0px none; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(153, 153, 153); font-size: 21px; line-height: 1.6em; resize: none; box-shadow: none; }
.fullscreen-overlay textarea:focus, .fullscreen-overlay textarea:hover { outline: medium none; color: rgb(51, 51, 51); }
.fullscreen-overlay .fullscreen-sidebar { position: absolute; top: 30px; right: 30px; text-align: right; z-index: 1002; }
.fullscreen-overlay .fullscreen-sidebar .exit-fullscreen, .fullscreen-overlay .fullscreen-sidebar .fullscreen-info, .fullscreen-overlay .fullscreen-sidebar .theme-switcher { color: rgb(179, 179, 179); float: right; clear: right; margin-bottom: 15px; }
.fullscreen-overlay .fullscreen-sidebar .exit-fullscreen:hover, .fullscreen-overlay .fullscreen-sidebar .fullscreen-info:hover, .fullscreen-overlay .fullscreen-sidebar .theme-switcher:hover { color: rgb(51, 51, 51); text-shadow: 0px 0px 10px rgb(255, 255, 255); }
.fullscreen-overlay .fullscreen-sidebar .theme-switcher { margin-right: 8px; }
.fullscreen-overlay .suggester-container { top: 5px; left: 0px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.oauth-permissions-details.default:not(.delete) .no-access, .oauth-permissions-details.default:not(.delete) .default-access, .oauth-permissions-details.none .no-access, .oauth-permissions-details.none .default-access { display: inline; }
.oauth-permissions-details.default:not(.delete) .access-toggle, .oauth-permissions-details.default:not(.delete) .access-details, .oauth-permissions-details.default:not(.delete) .permission-title, .oauth-permissions-details.none .access-toggle, .oauth-permissions-details.none .access-details, .oauth-permissions-details.none .permission-title { color: rgb(153, 153, 153); }
.oauth-permissions-details.default:not(.delete) .permission-icon .mega-octicon, .oauth-permissions-details.none .permission-icon .mega-octicon { color: rgb(204, 204, 204); }
.pagehead { position: relative; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid rgb(238, 238, 238); }
.pagehead ul.pagehead-actions { margin: 0px; float: right; z-index: 21; }
.pagehead h1 { margin-top: 0px; margin-bottom: 0px; font-size: 20px; font-weight: normal; line-height: 28px; }
.pagehead h1 strong { font-weight: bold; }
.pagehead h1 a { color: rgb(65, 131, 196); white-space: nowrap; }
.pagehead.repohead h1 { color: rgb(102, 102, 102); padding-left: 34px; position: relative; float: left; }
.pagehead.repohead h1 .octicon-lock, .pagehead.repohead h1 .octicon-mirror-private, .pagehead.repohead h1 .octicon-repo, .pagehead.repohead h1 .octicon-mirror-public, .pagehead.repohead h1 .octicon-repo-forked { position: absolute; left: 0px; top: 12px; line-height: 32px; margin-top: -13px; }
.pagehead.repohead h1 .octicon-lock:before, .pagehead.repohead h1 .octicon-mirror-private:before, .pagehead.repohead h1 .octicon-repo:before, .pagehead.repohead h1 .octicon-mirror-public:before, .pagehead.repohead h1 .octicon-repo-forked:before { color: rgb(187, 187, 187); }
.pagehead.repohead span.repo-label { position: absolute; top: 15px; left: -75px; width: 65px; margin-top: -14px; text-align: right; font-size: 11px; text-transform: uppercase; color: rgb(185, 185, 185); font-weight: 300; text-shadow: none; transition: all 0.4s ease-in-out 0s; }
@media only screen and (max-width: 1155px) {
	.pagehead.repohead span.repo-label { opacity: 0; }
}
.pagehead-actions > li { list-style-type: none; font-size: 11px; color: rgb(51, 51, 51); margin: 0px 10px 0px 0px; float: left; }
.pagehead-actions > li:last-child { margin-right: 0px; }
.pagehead-actions .octicon-mute { color: rgb(204, 0, 0); }
@media not all, screen and (max--moz-device-pixel-ratio: 2) {
}
@media not all, screen and (max--moz-device-pixel-ratio: 2) {
}
.hide-line-numbers .diff-line-num:not(.expandable-line-num):before { content: attr(data-line-number); }
.bubble { padding: 3px; background: none repeat scroll 0% 0% rgb(238, 238, 238); border-radius: 3px; }
#readme { padding: 3px; background: none repeat scroll 0% 0% rgb(238, 238, 238); border-radius: 3px; }
#readme span.name { font-size: 16px; line-height: 20px; font-weight: bold; padding: 10px; color: rgb(85, 85, 85); text-shadow: 0px 1px 0px rgb(255, 255, 255); display: block; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(202, 202, 202) rgb(202, 202, 202) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(234, 234, 234); background-image: linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234)); background-repeat: repeat-x; }
#readme .markdown-body, #readme .plain { background-color: rgb(255, 255, 255); border: 1px solid rgb(202, 202, 202); padding: 30px; }
.uploaded-files > li.delete:nth-child(2) { border-top-right-radius: 4px; border-top-left-radius: 4px; }
.uploaded-files > li:nth-child(2) { border-top: medium none; }
.render-container.is-render-ready.is-render-requested:not(.is-render-failed) { background: none repeat scroll 0% 0% transparent; height: 500px; padding: 0px; }
.render-container.is-render-ready.is-render-requested:not(.is-render-failed) .render-viewer { display: block; }
.render-container.is-render-ready.is-render-requested:not(.is-render-failed) :not(.render-viewer) { display: none; }
.render-container.is-render-requested.is-render-failed > :not(.render-viewer-error) { display: none; }
.render-container.is-render-requested.is-render-failed-fatal > :not(.render-viewer-fatal) { display: none; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.repo-container { min-height: 345px; }
.repo-nav .counter { display: none; }
.repo-nav .full-word { display: none; }
.with-full-navigation .repo-nav .counter { display: block; }
.with-full-navigation .repo-nav .full-word { display: inline-block; width: 128px; vertical-align: top; }
.only-with-full-nav { display: none; }
.with-full-navigation .only-with-full-nav { display: block; }
.repository-with-sidebar:before, .repository-with-sidebar:after { content: " "; display: table; }
.repository-with-sidebar:after { clear: both; }
.repository-with-sidebar .repository-sidebar { float: right; width: 38px; overflow: hidden; transition: width 0.1s ease-in-out 0s; }
.repository-with-sidebar .repository-sidebar .sidebar-button { margin: 0px 0px 10px; -moz-box-sizing: border-box; width: 100%; text-align: center; }
.repository-with-sidebar .repository-sidebar h3 { margin: 10px 0px 5px; font-size: 11px; font-weight: normal; color: rgb(153, 153, 153); }
.repository-with-sidebar .repository-sidebar h3 > strong { font-weight: bold; color: rgb(0, 0, 0); }
.repository-with-sidebar .repository-sidebar .clone-url { display: none; overflow: hidden; margin-top: -5px; }
.repository-with-sidebar .repository-sidebar .clone-url.open { display: block; }
.repository-with-sidebar .repository-sidebar .clone-url-box { display: table; -moz-box-sizing: border-box; border-collapse: separate; }
.repository-with-sidebar .repository-sidebar input.clone { display: table-cell; -moz-box-sizing: border-box; width: 100%; white-space: nowrap; min-height: 26px; padding: 4px 5px; font-family: Monaco,"Liberation Mono",Courier,monospace; font-size: 11px; color: rgb(153, 153, 153); border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.repository-with-sidebar .repository-sidebar .url-box-clippy { display: table-cell; -moz-box-sizing: border-box; width: 1%; }
.repository-with-sidebar .repository-sidebar .clone-options { margin: 8px 0px 15px; font-size: 11px; color: rgb(102, 102, 102); }
.repository-with-sidebar .repository-sidebar .clone-options .octicon-question { position: relative; bottom: 1px; font-size: 11px; cursor: pointer; color: rgb(0, 0, 0); }
.repository-with-sidebar .repository-content { float: left; width: 920px; }
.repository-with-sidebar.with-full-navigation .repository-content { width: 790px; }
.repository-with-sidebar.with-full-navigation .repository-sidebar { width: 170px; }
.overall-summary { margin-bottom: 0px; border-radius: 3px 3px 0px 0px; border-bottom: medium none; position: relative; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
.overall-summary .numbers-summary a, .overall-summary .numbers-summary span.nolink { display: block; padding: 10px 0px; color: rgb(153, 153, 153); transition: color 0.1s ease-in 0s; text-decoration: none; }
.overall-summary .numbers-summary li { padding: 0px; white-space: nowrap; list-style-type: none; display: table-cell; margin: 0px; width: 1%; text-align: center; color: rgb(153, 153, 153); }
.overall-summary .numbers-summary li a:hover { color: rgb(65, 131, 196); }
.overall-summary .numbers-summary li a:hover .num { color: rgb(65, 131, 196); transition: color 0.1s ease-in 0s; }
.overall-summary .numbers-summary li a:hover .num .octicon { color: rgb(65, 131, 196); opacity: 0.4; }
.overall-summary .numbers-summary li .num { display: inline; padding: 0px; font-size: 13px; font-weight: bold; color: rgb(0, 0, 0); }
.overall-summary .numbers-summary li .num .octicon { color: rgb(204, 204, 204); }
.repository-meta { margin: 0px 0px 13px; }
.repository-meta:before, .repository-meta:after { content: " "; display: table; }
.repository-meta:after { clear: both; }
.repository-meta p { margin: 0px; }
.repository-meta .repository-description { display: inline; font-size: 16px; color: rgb(102, 102, 102); }
.repository-meta .repository-description > p { display: inline; }
.repository-meta .repository-website { display: inline-block; font-size: 16px; }
.file-navigation.in-mid-page { margin-top: 10px; }
.file-navigation .select-menu { display: inline-block; margin-right: 5px; }
.file-navigation .breadcrumb { position: relative; top: 2px; margin: 0px; display: inline-block; }
.minibutton.compact .octicon { margin-right: 2px; }
.files-bubble { margin: 10px 0px; }
table.files { -moz-box-sizing: border-box; width: 100%; border-right: 1px solid rgb(216, 216, 216); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(216, 216, 216) rgb(216, 216, 216); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 3px; background: none repeat scroll 0% 0% rgb(248, 248, 248); }
table.files td { padding: 7px 3px; border-top: 1px solid rgb(238, 238, 238); }
table.files td.icon { width: 17px; padding-left: 10px; padding-right: 2px; color: rgb(119, 119, 119); }
table.files td.icon .octicon-file-directory { color: rgb(128, 166, 205); }
table.files td.icon .spinner { display: none; position: relative; top: 3px; margin-top: -3px; margin-left: -2px; }
table.files td.content .css-truncate { max-width: 180px; }
table.files td.message { padding-left: 10px; height: 20px; overflow: hidden; color: rgb(136, 136, 136); }
table.files td.message a { color: rgb(136, 136, 136); }
table.files td.message a:hover { color: rgb(65, 131, 196); }
table.files td.message .css-truncate { max-width: 450px; }
table.files td.age { padding-right: 10px; text-align: right; white-space: nowrap; color: rgb(136, 136, 136); }
table.files td.age .css-truncate { max-width: 100px; }
table.files tbody tr:first-child td { border-top: medium none; }
.clone-url { display: table-cell; vertical-align: top; }
.url-box-clippy { border-radius: 0px 3px 3px 0px; border-left: 0px none; margin-left: 0px ! important; }
.pagehead.repohead .select-menu-button.with-count { float: none; }
.pagehead.repohead .select-menu .social-count { float: right; }
.select-menu-button { padding-right: 25px; }
.select-menu-button .octicon { margin-right: 1px; }
.select-menu-button:before { position: absolute; top: 10px; right: 10px; display: block; width: 0px; height: 0px; content: ""; border-width: 4px; border-style: solid; border-color: -moz-use-text-color transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.select-menu-modal-holder { position: absolute; display: none; z-index: 21; }
.select-menu-modal { position: relative; width: 300px; margin-top: 4px; margin-bottom: 20px; overflow: hidden; font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 5px; box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25); }
.select-menu-header { padding: 8px 10px; background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(250, 250, 250), rgb(238, 238, 238)); background-repeat: repeat-x; border-bottom: 1px solid rgb(221, 221, 221); }
.select-menu-header .select-menu-title { font-weight: bold; color: rgb(51, 51, 51); text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.select-menu-header .octicon { display: block; float: right; color: rgb(204, 204, 204); cursor: pointer; }
.select-menu-header .octicon:hover { color: rgb(85, 85, 85); }
.select-menu-filters { background-color: rgb(248, 248, 248); }
.select-menu-text-filter { padding: 10px 10px 0px; }
.select-menu-text-filter:first-child:last-child { padding-bottom: 10px; border-bottom: 1px solid rgb(221, 221, 221); }
.select-menu-text-filter input { display: block; width: 100%; max-width: 100%; padding: 5px; border: 1px solid rgb(221, 221, 221); -moz-box-sizing: border-box; border-radius: 3px; }
.select-menu-tabs { height: 33px; border-bottom: 1px solid rgb(221, 221, 221); }
.select-menu-tabs ul { overflow: hidden; padding: 14px 10px 0px; }
.select-menu-tabs .select-menu-tab { display: inline-block; }
.select-menu-tabs a { height: 20px; padding: 5px 8px; font-size: 11px; font-weight: bold; color: rgb(136, 136, 136); text-decoration: none; line-height: 20px; border-radius: 3px 3px 0px 0px; cursor: pointer; }
.select-menu-tabs a:hover { color: rgb(51, 51, 51); }
.select-menu-list { max-height: 400px; overflow: auto; position: relative; }
.select-menu-list.select-menu-tab-bucket { display: none; }
.select-menu-item { cursor: pointer; border-bottom: 1px solid rgb(238, 238, 238); display: table; table-layout: fixed; width: 100%; overflow: hidden; color: inherit; }
.select-menu-item:hover { text-decoration: none; }
.select-menu-item .octicon { color: rgb(51, 51, 51); }
.select-menu-item input[type="radio"] { display: none; }
.select-menu-item .select-menu-item-icon { display: table-cell; color: transparent; vertical-align: top; padding: 8px 0px 8px 8px; width: 24px; text-align: center; -moz-box-sizing: border-box; }
.select-menu-item.select-menu-action, .select-menu-item.selected { color: rgb(51, 51, 51); }
.select-menu-item.select-menu-action .description, .select-menu-item.selected .description { color: rgb(102, 102, 102); }
.select-menu-item.select-menu-action > .octicon, .select-menu-item.selected > .octicon { color: rgb(51, 51, 51); }
.select-menu-item a { color: inherit; text-decoration: none; }
.select-menu-item .hidden-select-button-text { display: none; }
.select-menu-item .css-truncate-target { display: table-cell; max-width: 100%; }
.select-menu-item.last-visible, .select-menu-list:last-child .select-menu-item:last-child { border-bottom: 0px none; border-radius: 0px 0px 3px 3px; }
.select-menu-no-results { padding: 9px; display: none; cursor: auto; color: rgb(153, 153, 153); }
.select-menu-list.filterable-empty .select-menu-no-results, .select-menu-no-results:only-child { display: block; }
.select-menu-item-text { display: table-cell; vertical-align: top; padding: 8px 0px 8px 8px; text-align: left; }
.select-menu-item-text:first-child { margin-left: 5px; }
.select-menu-item-text .description { color: rgb(153, 153, 153); font-size: 11px; max-width: 265px; display: block; margin-top: 2px; margin-bottom: 2px; }
.select-menu-item-text h4 { margin-top: 0px; margin-bottom: 0px; }
.modal-backdrop { display: none; -moz-user-select: none; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.error-icon, .spinner, .sent-message, .sms-error-message, .fallback-error-message, .fallback-message, #text-code { display: none; }
.signup-plans tr:nth-child(2n+1) td { background-color: rgb(245, 245, 245); }
.signup-plans-personal tr:nth-child(2n+1) td { background-color: rgb(240, 245, 250); }
.signup-plans-orgs tr:nth-child(2n+1) td { background-color: rgb(246, 252, 244); }
.stars-browser .jump-to-users a:nth-child(6) img, .stars-browser .jump-to-users a:nth-child(12) img { margin-right: 0px; }
.sunken-menu .sunken-menu-contents, .sunken-menu .sunken-menu-item, .sunken-menu .sunken-menu-separator { -moz-box-sizing: border-box; position: relative; }
.sunken-menu .sunken-menu-contents:before, .sunken-menu .sunken-menu-contents:after, .sunken-menu .sunken-menu-item.selected:after, .sunken-menu .sunken-menu-separator:before { content: ""; position: absolute; }
.sunken-menu .sunken-menu-contents { margin: 0px; }
.sunken-menu .sunken-menu-group { list-style-type: none; }
.sunken-menu .sunken-menu-item { padding: 8px 10px; display: block; text-shadow: 0px 1px 0px rgb(255, 255, 255); text-decoration: none; border: 1px solid transparent; outline: 0px none; }
.sunken-menu .sunken-menu-item.selected { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); color: rgb(51, 51, 51); font-weight: bold; }
.sunken-menu .sunken-menu-item.selected:after { background-color: rgb(186, 93, 15); background-image: linear-gradient(rgb(210, 105, 17), rgb(186, 93, 15)); background-repeat: repeat-x; box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1) inset; }
.sunken-menu .sunken-menu-item .octicon { left: -1px; color: rgb(153, 153, 153); transition: color 0.25s ease-in 0s; width: 16px; text-align: center; }
.sunken-menu .sunken-menu-item:hover .octicon { color: rgb(51, 51, 51); }
.sunken-menu .sunken-menu-item.selected .octicon { color: rgb(51, 51, 51); }
.sunken-menu .sunken-menu-item .counter { padding: 2px 5px; font-size: 11px; font-weight: bold; color: rgb(153, 153, 153); background: none repeat scroll 0% 0% rgb(238, 238, 238); border-radius: 2px; box-shadow: 0px -1px 0px rgb(227, 227, 227) inset; }
.sunken-menu .sunken-menu-item .mini-loader { display: none; position: absolute; top: 9px; left: 9px; }
.sunken-menu.vertical-right { max-width: 250px; }
.sunken-menu.vertical-right .sunken-menu-contents { padding: 12px 0px 15px; box-shadow: 1px 0px 0px rgb(238, 238, 238) inset; background-image: linear-gradient(to right, rgb(246, 246, 246) 0%, rgb(255, 255, 255) 8px); }
.sunken-menu.vertical-right .sunken-menu-contents:before, .sunken-menu.vertical-right .sunken-menu-contents:after { height: 15px; width: 100%; left: 0px; background-color: transparent; }
.sunken-menu.vertical-right .sunken-menu-contents:before { background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)); background-repeat: repeat-x; background-color: transparent; top: 0px; }
.sunken-menu.vertical-right .sunken-menu-contents:after { background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)); background-repeat: repeat-x; background-color: transparent; bottom: 0px; }
.sunken-menu.vertical-right .sunken-menu-item { margin: 5px 0px; }
.sunken-menu.vertical-right .sunken-menu-item:focus, .sunken-menu.vertical-right .sunken-menu-item:hover { box-shadow: 2px 0px 0px rgb(204, 204, 204) inset; }
.sunken-menu.vertical-right .sunken-menu-item.selected { box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05); border-left: 1px solid transparent; }
.sunken-menu.vertical-right .sunken-menu-item.selected:after { width: 3px; top: -1px; bottom: -1px; right: -1px; border-radius: 0px 2px 2px 0px; }
.sunken-menu.vertical-right .sunken-menu-item .counter { position: absolute; top: 8px; right: 10px; }
.sunken-menu.vertical-right .sunken-menu-separator { margin: 8px 0px 6px 1px; height: 5px; background-image: radial-gradient(farthest-side at left top , rgb(244, 244, 244), rgba(244, 244, 244, 0)); }
.sunken-menu.vertical-right .sunken-menu-separator:before { width: 100%; height: 1px; top: 0px; background-image: linear-gradient(to right, rgb(238, 238, 238) 70%, rgb(255, 255, 255) 100%); }
#wiki-rightbar > :first-child { margin-top: 0px; }
#wiki-footer #gollum-footer-content > :first-child { margin-top: 0px; }
#wiki-history table tr:nth-child(2n), #wiki-history table table tr.alt-row, #wiki-history tbody tr:nth-child(2n), #wiki-history tbody table tr.alt-row { background-color: rgb(243, 247, 250); }
.zeroclipboard-link { color: rgb(65, 131, 196); cursor: pointer; }
.zeroclipboard-link .octicon { display: block; }

